<!DOCTYPE html>
<html>

<head>
	<title>Redirecting in 1 second</title>
	<meta http-equiv="refresh" content="1; url={{ url_for('patds') }}">
	<style>
		body {
			background-color: #121212;
			color: #ffffff;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		#progress-container {
			width: 100%;
			background-color: #333;
		}

		#progress-bar {
			width: 0;
			height: 30px;
			background-color: #4CAF50;
			text-align: center;
			line-height: 30px;
			color: white;
		}
	</style>
</head>

<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul>
		{% for category, message in messages %}
		<li class="{{ category }}">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<h1 style="text-align: center; font-size: 72px;">Loading PAtDS</h1>
	<div id="progress-container">
		<div id="progress-bar">0%</div>
	</div>
	<script>
		let width = 0;
		const elem = document.getElementById("progress-bar");
		const id = setInterval(frame, 10);
		function frame() {
			if (width >= 100) {
				clearInterval(id);
			} else {
				width++;
				elem.style.width = width + '%';
				elem.innerHTML = width + '%';
			}
		}
	</script>
</body>

</html>