<!DOCTYPE html>
<html>

<head>
    <title>Overlay Layout</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .block button,
        .block select,
        .block input[type="number"] {
            background-color: #333;
            border: none;
            border-radius: 5px;
            color: #fff;
            padding: 10px;
            margin: 5px;
            transition: background-color 0.3s;
        }

        .block button:hover {
            background-color: #555;
        }

        .block select {
            width: 200px;
        }

        .block input[type="number"] {
            width: calc(50px);
        }

        #screen {
            position: relative;
            width: 80vw;
            border: 1px solid black;
            background-color: seashell;
            overflow: hidden;
            aspect-ratio: 16/9;
        }

        .sourceBox {
            position: absolute !important;
            border: 1px solid black;
        }

        .sourceBox.active {
            border: 1px solid red;
        }

        .activeSourceBtn {
            border: 2px solid red;
            /* Add this line */
        }


        .activeBtn {
            background-color: rgb(140, 140, 140);
        }

        .locked {
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div class="block">
        <select id="overlaySelector"></select>
        <button id="saveSources">Save</button>
        <button id="sourceListBtn" onclick="location.href='/overlay/sources'">List</button>
        <button id="copyURL">Copy URL</button>
    </div>
    <div id="screen">
        <!-- Dynamically generated source boxes will go here -->
    </div>

    <div class="block" id="sourceControls">
        <!-- Dynamically generated buttons will go here -->
    </div>

    <div class="block" id="sourceDetails">
        Left: <input type="number" id="leftPosition" />
        Top: <input type="number" id="topPosition" />
        Width: <input type="number" id="widthSize" />
        Height: <input type="number" id="heightSize" />
        Scale: <input type="number" id="scaleSize" step="0.1" min="0.1" max="10" />
    </div>

    <div class="block" id="setDimensionsDiv">
        <button id="setSmallDims">Set Small</button>
        <button id="setFullScreenDims">Set Fullscreen</button>
    </div>

    <script>
        let overlays = [];
        let currentSelectedOverlayId = null;
        let sources = [];
        let selectedBox = null;

        // Copy "http://patds/overlay/render/" to the clipboard
        $('#copyURL').click(function () {
            const selectedOverlay = overlays.find(o => o.id === currentSelectedOverlayId);
            const overlayUUID = selectedOverlay.uuid;  // Assuming each overlay has a 'uuid' field
            const textArea = document.createElement("textarea");
            textArea.value = `http://patds/overlay/render/${overlayUUID}`;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("Copy");
            textArea.remove();
            alert("URL copied to clipboard!");
        });

        async function fetchOverlays() {
            try {
                const response = await fetch('/api/overlay/get_sources');
                const data = await response.json();
                overlays = data.overlays;
                currentSelectedOverlayId = data.selected;
                populateOverlaySelector();
                loadSelectedOverlaySources();
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        function populateOverlaySelector() {
            const selector = $('#overlaySelector');
            selector.empty();
            overlays.forEach(overlay => {
                const option = $('<option></option>').attr('value', overlay.id).text(overlay.name);
                if (overlay.id === currentSelectedOverlayId) {
                    option.attr('selected', 'selected');
                }
                selector.append(option);
            });
        }

        function loadSelectedOverlaySources() {
            const selectedOverlay = overlays.find(o => o.id === currentSelectedOverlayId);
            if (selectedOverlay) {
                sources = selectedOverlay.sources;
                $("#screen").empty();
                $("#sourceControls").empty();
                const screenW = $("#screen").width();
                const screenH = $("#screen").height();

                sources.forEach(source => {
                    const scaledLeft = (source.x / 1920) * screenW;
                    const scaledTop = (source.y / 1080) * screenH;
                    const scaledWidth = (source.width / 1920) * screenW;
                    const scaledHeight = (source.height / 1080) * screenH;
                    const scale = source.scale;

                    const button = $(`<button>${source.name}</button>`);
                    button.click(() => {
                        setActiveSource(source.id);
                    });

                    const lockButton = $(`<button class="lockBtn" data-source-id="${source.id}">🔓</button>`);
                    lockButton.click(function () {
                        const sourceId = $(this).data('source-id');
                        const box = $(`#box-${sourceId}`);
                        if (box.hasClass('locked')) {
                            box.removeClass('locked').resizable('enable').draggable('enable');
                            $(this).text('🔓');
                        } else {
                            box.addClass('locked').resizable('disable').draggable('disable');
                            $(this).text('🔒');
                        }
                    });

                    $("#sourceControls").append(button).append(lockButton);  // Append both the source button and the lock button

                    const box = $(`<div class="sourceBox" id="box-${source.id}" data-source-id="${source.id}"></div>`);
                    box.css({
                        left: scaledLeft + 'px',
                        top: scaledTop + 'px',
                        width: scaledWidth + 'px',
                        height: scaledHeight + 'px',
                        zIndex: source.id,
                        transform: `scale(${scale})`,
                        transformOrigin: "top left"
                    });

                    box.resizable({
                        start: function () {
                            const sourceId = $(this).data('source-id');
                            setActiveSource(sourceId);
                        },
                        stop: function () {
                            updateSourceDetails();
                        }
                    });

                    box.draggable({
                        containment: "#screen",
                        start: function () {
                            const sourceId = $(this).data('source-id');
                            setActiveSource(sourceId);
                        },
                        stop: function () {
                            updateSourceDetails();
                        }
                    });

                    box.click(() => {
                        setActiveSource(source.id);
                    });

                    $("#screen").append(box);
                    $("#scaleSize").val(scale);
                });
            }
        }


        function updateSourceDetails() {
            if (selectedBox) {
                const position = $(selectedBox).position();
                const width = $(selectedBox).width();
                const height = $(selectedBox).height();
                const screenW = $("#screen").width();
                const screenH = $("#screen").height();
                const scaledX = Math.round((position.left / screenW) * 1920);
                const scaledY = Math.round((position.top / screenH) * 1080);
                const scaledWidth = Math.round((width / screenW) * 1920);
                const scaledHeight = Math.round((height / screenH) * 1080);

                $("#leftPosition").val(scaledX);
                $("#topPosition").val(scaledY);
                $("#widthSize").val(scaledWidth);
                $("#heightSize").val(scaledHeight);

                const sourceId = $(selectedBox).data('source-id');
                const sourceIndex = sources.findIndex(s => s.id === sourceId);
                if (sourceIndex !== -1) {
                    sources[sourceIndex].x = scaledX;
                    sources[sourceIndex].y = scaledY;
                    sources[sourceIndex].width = scaledWidth;
                    sources[sourceIndex].height = scaledHeight;
                    sources[sourceIndex].scale = parseFloat($("#scaleSize").val());
                }
            }
        }
        function updateSourceBox() {
            if (selectedBox) {
                const unscaledLeft = ($("#leftPosition").val() / 1920) * $("#screen").width();
                const unscaledTop = ($("#topPosition").val() / 1080) * $("#screen").height();
                const unscaledWidth = ($("#widthSize").val() / 1920) * $("#screen").width();
                const unscaledHeight = ($("#heightSize").val() / 1080) * $("#screen").height();
                const scaleValue = parseFloat($("#scaleSize").val());

                selectedBox.css({
                    left: unscaledLeft + 'px',
                    top: unscaledTop + 'px',
                    width: unscaledWidth + 'px',
                    height: unscaledHeight + 'px',
                    transform: `scale(${scaleValue})`,
                    transformOrigin: "top left"
                });

                // Update the sources array
                const sourceId = $(selectedBox).data('source-id');
                const sourceIndex = sources.findIndex(s => s.id === sourceId);
                if (sourceIndex !== -1) {
                    sources[sourceIndex].x = $("#leftPosition").val();
                    sources[sourceIndex].y = $("#topPosition").val();
                    sources[sourceIndex].width = $("#widthSize").val();
                    sources[sourceIndex].height = $("#heightSize").val();
                    sources[sourceIndex].scale = parseFloat($("#scaleSize").val());
                }
            }
        }


        function setActiveSource(sourceId) {
            $(".sourceBox").removeClass('active').css("border", "1px solid black");
            $("#sourceControls button").removeClass("activeBtn").removeClass("activeSourceBtn").css("border", "none"); // Remove the activeSourceBtn class and reset the border

            const box = $(`#box-${sourceId}`);
            box.addClass('active').css("border", "1px solid red");
            selectedBox = box;
            updateSourceDetails();

            $("#sourceControls button").each(function () {
                if ($(this).text() === sources.find(s => s.id === sourceId).name) {
                    $(this).addClass("activeBtn").addClass("activeSourceBtn").css("border", "2px solid red"); // Add the activeSourceBtn class and set the border
                }
            });
        }


        $(document).ready(function () {
            fetchOverlays();

            $('#overlaySelector').change(function () {
                currentSelectedOverlayId = parseInt($(this).val());
                loadSelectedOverlaySources();
            });

            $("#leftPosition, #topPosition, #widthSize, #heightSize, #scaleSize").on('change', function () {
                updateSourceBox();
            });


            // Save Sources
            $("#saveSources").click(() => {
                // Find the selected overlay by its ID
                const selectedOverlay = overlays.find(o => o.id === currentSelectedOverlayId); // Assuming you have 'overlays' and 'currentSelectedOverlayId' variables

                // Update the sources for the selected overlay
                selectedOverlay.sources = sources;

                // Prepare the data to be saved
                const saveData = {
                    overlays: overlays,
                    selected: currentSelectedOverlayId
                };

                // Save the data
                $.ajax({
                    url: '/api/overlay/save_sources',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(saveData),
                    success: function () {
                        alert("Source data saved!");
                    },
                    error: function (error) {
                        alert("An error occurred while saving the sources.");
                        console.error(error);
                    }
                });
            });


            $('#setSmallDims').click(function () {
                if (selectedBox) {
                    $("#leftPosition").val(10);
                    $("#topPosition").val(10);
                    $("#widthSize").val(400);
                    $("#heightSize").val(300);
                    $("#leftPosition, #topPosition, #widthSize, #heightSize").trigger('change');
                    $("#scaleSize").val(1);

                    // Update the sources array
                    const sourceId = $(selectedBox).data('source-id');
                    const sourceIndex = sources.findIndex(s => s.id === sourceId);
                    if (sourceIndex !== -1) {
                        sources[sourceIndex].x = 10;
                        sources[sourceIndex].y = 10;
                        sources[sourceIndex].width = 400;
                        sources[sourceIndex].height = 300;
                        sources[sourceIndex].scale = 1;
                    }
                }
            });

            $('#setFullScreenDims').click(function () {
                if (selectedBox) {
                    $("#leftPosition").val(0);
                    $("#topPosition").val(0);
                    $("#widthSize").val(1920);
                    $("#heightSize").val(1080);
                    $("#leftPosition, #topPosition, #widthSize, #heightSize").trigger('change');
                    $("#scaleSize").val(1);

                    // Update the sources array
                    const sourceId = $(selectedBox).data('source-id');
                    const sourceIndex = sources.findIndex(s => s.id === sourceId);
                    if (sourceIndex !== -1) {
                        sources[sourceIndex].x = 0;
                        sources[sourceIndex].y = 0;
                        sources[sourceIndex].width = 1920;
                        sources[sourceIndex].height = 1080;
                        sources[sourceIndex].scale = 1;
                    }
                }
            });

        });


    </script>

</body>

</html>