<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTube Studio Manager</title>
    <!-- Add any additional CSS or JS links here if needed -->
</head>
<body>

<div class="container">
    <h1>VTube Studio Manager</h1>

    {% if models %}
        <div class="models-container">
            <h2>Models</h2>
            {% for model in models %}
                <button class="model-button" modelId="{{model.id}}"
                {% if model.active %}
                style="background-color: green;"
                {% endif %}>
                    {{ model.name }}
                </button>
            {% endfor %}
        </div>
    {% else %}
        <p>No models available.</p>
    {% endif %}
    {% if expressions %}
        <div class="expressions-container">
            <h2>Expressions</h2>
            {% for expression in expressions %}
                <button class="expression-button" expressionfile="{{expression.file}}"
                
                {% if expression.active %}
                    style="background-color: green;"
                {% endif %}>
                    {{ expression.name }}
                </button>
            {% endfor %}
        </div>
    {% else %}
    <p>No expressions available</p>
    {% endif %}
    
</div>

<!-- Add any additional HTML content or scripts here if needed -->
<script>
    // pass the model id to post vts/api/loadModel when a model button is clicked
    const modelButtons = document.querySelectorAll('.model-button');
    modelButtons.forEach(button => {
        button.addEventListener('click', () => {
            const Model_ID = button.getAttribute('modelId');
            
            // Create form data
            const formData = new URLSearchParams();
            formData.append('Model_ID', Model_ID);

            fetch('/vts/api/loadModel', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Model loaded successfully');
                } else {
                    console.log('Model failed to load, error: ' + data.error);
                }
            })
            .catch(error => {
                // do something
            });
        });
    });
    const expressionButtons = document.querySelectorAll('.expression-button');
    // send file and active state true of false you want to send as "file" and "active" in the form data
    expressionButtons.forEach(button => {
        button.addEventListener('click', () => {
            const Expression_File = button.getAttribute('expressionfile');
            const Expression_Active = button.getAttribute('style');
            // Create form data
            const formData = new URLSearchParams();
            formData.append('Expression_File', Expression_File);
            formData.append('Expression_Active', Expression_Active);

            fetch('/vts/api/loadExpression', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Expression loaded successfully');
                } else {
                    console.log('Expression failed to load, error: ' + data.error);
                }
            })
            .catch(error => {
                // do something
            });
        });
    });
    



</script>
</body>
</html>
